<p>Level 3: Headers</p>

<form action="level4">
    <input type="text">
    <input type="Submit">
    <input type="hidden" value="Secret: secretHeader">
</form>
<% if (typeof error !== 'undefined') { %>
    <p><%= error %></p>
<% } %>